/* Mobile */
@media (max-width: 767px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
        width: 80%;
    }
}

/* tablets */
@media (max-width: 991px) and (min-width: 768px) {
    .slider-size {
        height: auto;
    }
    .slider-size > img {
        width: 80%;
    }
}

/* laptops */
@media (max-width: 1023px) and (min-width: 992px) {
    .slider-size {
        height: 200px;
    }
    .slider-size > img {
        width: 80%;
    }
}

/* desktops */
@media (min-width: 1024px) {
    .slider-size {
        height: 300px;
    }
    .slider-size > img {
        width: 60%;
    }
}

.pixelated{
    image-rendering: pixelated;
}

.project img{
    margin: 5px;
    max-height: 397px;
    max-width: 300px;
}

.project:hover {
    border: 3px dotted black;
}

.col{
    margin-bottom: 15px;
    max-width: 370px;
    min-width: 100px;
    min-height: 200px;
    height: auto;
    height: auto;
}